@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

//Import custom font
@font-face {
  font-family: "SourceCodeVariable";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/SourceCodeVariable-Roman.ttf") format("truetype");
}

// Set your brand colors
$orange: #ffcc8c;
$dark: white;
$brown: #757763;
$beige-light: white;
$beige-lighter: white;
$speed: "0.25s";
$transition: all #{$speed} cubic-bezier(0.31, -0.105, 0.43, 1.4);

// Update Bulma's global variables
$family-sans-serif: "SourceCodeVariable", sans-serif;
$grey-dark: $dark;
$grey-light: $dark;
$primary: $orange;
$link: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import bulma
@import "~bulma/bulma";
@import "~bulma-switch/dist/css/bulma-switch";

h1 {
  font-size: x-large;
  &.subtitle.dark.name {
    .icon {
      color: #ffcc8c;
    }
  }
}
hr {
  margin: 1rem;
}

.navbar-burger:hover {
  background-color: #ffcc8c;
  opacity: 0.4;
}

.input,
.textarea {
  background-color: lightgray;
}
.button {
  &.is-succeed {
    background-color: #00ea98;
  }
}

input#freePrice+label{
  border: 2px solid #ffcc8c
}

#profil {
  padding-top: 0;
}
.file-label,
.file-icon {
  color: black;
}

.author{
  display : inline;
  border: 2px solid #ffcc8c
}

.box {
  line-height: 16px;
  border-radius: 0;
  box-shadow: 0 0 0;
  border: #b6b6b6 1px solid;
  padding: 10px;
  h1.title {
    font-size: revert;
    font-size: inherit;
  }
  .media {
    // flex-direction: column;
    // @include from($tablet) {
    //   flex-direction: row;
    // }
    .media-left {
      img {
        max-width: 64px;
        height: 64px;
      }
      @include from($tablet) {
        img {
          max-width: 200px;
          height: auto;
          border-radius: 0;
        }
      }
    }
  }

  h1,
  h2,
  h3 {
    color: black;
    font-weight: initial;
    &.title:not(:last-child) {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: x-large;
  }

  p {
    color: black;
  }
  span {
    color: #515151;
  }

  &.product {
    background-color: gray;
    margin-bottom: 0.2rem;
    p,
    h1 {
      color: white;
    }
  }

  &.profile {
    background-color: #f9f9f9;
    margin-bottom: 0.2rem;
  }

  .media-content {
    overflow-x: inherit;
  }
}

// Small fix for large icons size (with svg)
.icon.is-large {
  svg {
    font-size: 3rem;
  }
}

.modal-card-body {
  background-color: black;
}

//Navbar custom
nav {
  &.navbar {
    .navbar-item {
      .button {
        border-radius: 0;
        &.is-light {
          opacity: 0.4;
          background-color: white;
          color: black;
          .icon:not(.fa-arrow-left) {
            color: #ffcc8c;
          }
          &:hover {
            background-color: #ffcc8c;
          }
        }
        &.is-success {
          background-color: #00ea98;
          &:hover {
            background-color: #ffcc8c;
          }
        }
      }
    }
    border-bottom: 1px grey solid;
    .navbar-brand {
      &.edition {
        width: 100%;
      }
      justify-content: space-between;
      .navbar-burger {
        color: black;
      }
    }
  }
}

//Footer custom
.footer {
  padding: 1rem;
  figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

//Manage module
.section {
  &.home {
    transition : $transition;
    padding-top: 1rem;
   
    hr {
      background-color: #b6b6b6;
      height: 1px;
      margin-top: 2rem;
    }
  }
  &.view,
  &.edition {
    padding-top: 1rem;
  }
}

.modal {
  z-index: 200;
}

.modal-card-title.is-size-6{
  display: table;
}

//Manage the text color
.history {
  .title.is-1 {
    color: white;
  }
}

h1,
h2,
h3,
label,
.subtitle,
li,
p {
  &.orange {
    color: $orange;
  }
  color: black;
}

//Specials components
//---------> The searchbar on the home
.search-bar {
  display: flex;
  flex-wrap: wrap;
  .title {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  .react-autosuggest__container {
    width: 100%;
    #searchSuggestion {
      z-index: 20;
      left: 0;
      border: solid black 1.5px;
      border-radius: 0;
      background-color: #f9f9f9;
      font-size: 1rem;

      &::placeholder {
        color: black;
        text-align: center;
      }
    }
  }
  #searchSuggestion {
    &.sticky {
      position: fixed;
      top: 52px;
      width: 100%;
    }
  }

  #react-autowhatever-1 {
    z-index: 15;
    &.sticky {
      position: fixed;
      top: 106px;
      width: 100%;
    }
  }
}

//---------> The "+" to add element
#create-element {
  position: fixed;
  right: 10%;
  bottom: 10%;
  .icon {
    color: #ffcc8c;
    border-radius: 50%;
  }
  svg {
    cursor: pointer;
  }
}

//Table to retrieve the reciepe history
table {
  tr:nth-child(even) {
    background: #CCC;
    a{
      color: #fff
    }
  }
  
  td {
    display: flex;
    p {
      display: flex;
    }
  }
  .hideOnMobile {
    display: none;
  }
  @include from($tablet) {
    td {
      display: revert;
    }
    .hideOnMobile {
      display: table-cell;;
    }
    .showOnMobile {
      display: none;
    }
  }
  color: black;
  width: 100%;
  td + td {
    text-align: center;
  }
  th + th {
    padding-right: 8px;
  }
}

.hideOnMobile {
  display: none;
  @include from($tablet) {
    .hideOnMobile {
      display: table-cell;;
    }
    .showOnMobile {
      display: none;
    }
  }
}
