nav {
  .subtitle.dark.name {
    margin: auto;
  }
  // Force the burger menu to stick to the left
  .navbar-burger {
    &.home {
      margin-left: 0;
    }
  }

  // Stick end of the navbar to the right
  .navbar-end {
    margin-left: auto;
  }
  .nabar-item{
    .button.is-success{
      color: black
    }
    
  }
}
